<header>
  <h1>Chatbot Angular + Firebase + PaLM Api</h1>
</header>
<section class="conversation-window">
  <section class="responses">
    <ng-container *ngFor="let resp of responses">
      <div [ngClass]="resp.type == 'PROMPT' ? 'prompt' : 'response'">
        <span
          *ngIf="resp.type != 'PROMPT'"
          class="chatbot-emoji">
          🤖
        </span>
        <p>{{ resp.text }}</p>
      </div>
    </ng-container>
  </section>
  <section class="prompt-area">
    <form *ngIf="!status" class="prompt-form">
      <input
        autofocus
        class="prompt-input"
        type="text"
        name="prompt"
        #promptText
        placeholder="Enter a prompt here"
      />
      <button
        class="prompt-send-button"
        (click)="submitPrompt($event, promptText)"
      >
        Send
      </button>
    </form>
    <div *ngIf="status" class="status-indicator">
      <p>{{ status }}</p>
    </div>
  </section>
</section>
